.home-banner {
    :global {
        .slick-next {
            right: 25px;
            height: 70px;
            width: 30px;
            display: flex !important;
            justify-content: center;
            align-items: center;
            background-color: rgb(145, 145, 145);
            color: white;
            font-size: 20px;
            border-radius: 20px;
            z-index: 1;

            &:hover {
                background-color: rgb(145, 145, 145, 0.6);
                color: #fff;
            }
        }

        .slick-prev {
            left: 25px;
            height: 70px;
            width: 30px;
            display: flex !important;
            justify-content: center;
            align-items: center;
            background-color: rgb(145, 145, 145);
            color: white;
            font-size: 20px;
            border-radius: 20px;
            z-index: 1;

            &:hover {
                background-color: rgb(145, 145, 145, 0.6);
                color: #fff;
            }
        }
    }
}
